alembic==1.6.5
aniso8601==9.0.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.1
click==8.0.1
Flask==2.0.1
Flask-Cors==3.0.10
Flask-HTTPAuth==4.4.0
flask-marshmallow==0.14.0
Flask-Migrate==3.0.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.10
importlib-metadata==4.6.1
influxdb==5.3.1
itsdangerous==2.0.1
Jinja2==3.0.1
libvirt-python==7.5.0
lxml==4.6.3
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow==3.12.2
marshmallow-sqlalchemy==0.26.1
msgpack==1.0.2
pymongo==3.11.4
PyMySQL==1.0.2
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
pytz==2021.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.16.0
SQLAlchemy==1.4.17
typing-extensions==3.10.0.0
urllib3==1.26.6
uWSGI==2.0.19.1
Werkzeug==2.0.1
zipp==3.5.0
loguru==0.5.3
